.Navbar {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    padding: 5px 10px;
    background-color: #293846; 
    color: #ffffff; 
  }
  
  .logo {
    flex: 5; 
  }
  
  .logo h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
  }
  
  .Authbox {
    display: flex;
    gap: 10px; 
  }
  
  .Authbox button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
  }
  
  .Authbox a {
    text-decoration: none; 
    color: #fff; 
  }
  
  #Logout { 
    background-color: #e74c3c; 
  }
  
  #Signup { 
    background-color: #2ecc71; 
  }
  
  
  .Authbox button:not(:first-child) {
    margin-left: 10px; 
  }
  